# Telegram Bot Configuration
API_TOKEN=8431953113:AAFg4kOZJvTLlFRWB7iAiD31REJJHyfRJw8
WEBHOOK_URL=https://v460023.hosted-by-vdsina.com/webhook
WEBAPP_HOST=127.0.0.1
WEBAPP_PORT=8443

# XUI Panel Configuration
XUI_API=https://109.234.34.215:33465/7HWmi6anA3YCrCOtWf
XUI_USER=Gena
XUI_PASS=Tranzisto1

# VPN Server Configuration
VPN_DOMAIN=109.234.34.215

# Database Configuration
DB_PATH=vpn_bot.db
